<%- include('../../layouts/header.ejs', {title:"Exito"}) %> 

    <section class="container">
        <h1>Exito al guardar</h1>
        <p><%=message%> </p>
        <a href="/admin/projects">Ver todos los proyectos</a>
    </section>
    <footer>Maximiliano Gomez - Materia Aplicaiones Híbridas - Profesor Brian Lara</footer>
    
<%- include('../../layouts/footer.ejs') %> 