<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio - Maxi Gomez</title>
    <link rel="stylesheet" href="bootstrap.min.css">
    <link rel="stylesheet" href="estilos.css">
</head>
<body>
    <header>
        <h1>Portfolio Maxi Gomez</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="admin">Administrador</a></li>
            </ul>
        </nav>
    </header>
<h1>Error 404, página no encontrada</h1>

    <footer>Maximiliano Gomez - Materia Aplicaiones Híbridas - Profesor Brian Lara</footer>
</body>

</html>