<%- include('layouts/header.ejs', {title:"Administrador"}) %> 
<section class="container">
    <h2>Administrador, Bienvenido !</h1>
        <ul>
            <li><a href="/admin/projects">Ver todos los proyectos</a></li>
        </ul>
</section>

<%- include('layouts/footer') %> 